<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">   
        {# Incluir css de webpack en los pdfs, siempre con rutas absolutas #}   
        {% for file in encore_entry_css_files('pdf') %}
            <link href="{{ absolute_url(asset(file)) }}" rel="stylesheet" />
        {% endfor %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
